{{ define "main" }}


<div class="posts">


  <div class="post nopadding-child nomargin-child row">

    <div class="home-sidebar">

          {{ with .Params.Cover }}
          <img src="{{ . | absURL }}" class="post-cover nopadding-child" />
          {{ end }}
          <h1>{{.Title}}</h1>
          {{ with .Params.subtitle  }}
          <span class="subtitle">{{.}}</span>
          {{ end  }}
          {{ with .Params.email  }}
          <span class="subtitle"><b>Email: </b> <a href="mailto:{{.}}">{{.}}</a></span><br>
          {{ end  }}
          {{ with .Params.github  }}
          <span class="subtitle"><b>Github: </b> <a href="https://github.com/{{.}}/">{{.}}</a></span><br>
          {{ end  }}
          {{ with .Params.twitter  }}
          <span class="subtitle"><b>Twitter: </b> <a href="https://twitter.com/{{.}}/">{{.}}</a></span>
          {{ end  }}
    </div>

    {{- with .Content -}}
      <div class="home-main">
        {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor">&#8983;</a> ${3}` | safeHTML }}
      </div>
    {{- end -}}

  </div>

{{ range $.Site.Menus.main }}
  {{ if (and (not .HasChildren) (in $.Site.Params.showSections .Identifier))}}
    <h1 class="post-title"><a href="{{ .URL }}">{{ .Name | markdownify }}</a></h1>
    {{ with $.Site.GetPage .URL }}
    {{- with .Content -}}
      <div class="post nopadding-child nomargin-child">
        {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor">&#8983;</a> ${3}` | safeHTML }}
      </div>
    {{- end -}}
    {{ end }}
  {{ end }}
{{ end }}

  {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
  {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

  {{ $paginator := .Paginate (where .Site.RegularPages "Type" $contentTypeName) }}

  {{ if .Site.Params.showNews }}
  <h1 class="post-title">
    <a href="{{ .Site.Params.News.Url }}">{{ .Site.Params.News.Name | markdownify }}</a></h1>
  {{ range $paginator.Pages }}
  <div class="post on-list">

    <h2 class="post-title list-title" style="display:inline">
      <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
    <div class="post-meta" style="display:inline">
      <span class="post-date">
        {{ .Date.Format "2006-01-02" }}
      </span>
    </div>

    {{ if .Params.tags }}
    <span class="post-tags">
      {{ range .Params.tags }}
      #<a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">
        {{- . -}}
      </a>&nbsp;
      {{ end }}
    </span>
    {{ end }}

    {{ with .Params.Cover }}
    <img src="{{ . | absURL }}" class="post-cover" />
    {{ end }}

    <div class="post-content">
      {{ if .Params.showFullContent }}
      {{ .Content | markdownify }}
      {{ else if .Description }}
      {{ .Description | markdownify }}
      {{ else }}
      {{ if .Truncated }}
      {{ .Summary | markdownify }}
      {{ end }}
      {{ end }}
    </div>

    {{ if not .Params.showFullContent }}
    <div>
      <a class="read-more button"
        href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore }} →</a>
    </div>
    {{ end }}
  </div>
  {{ end }}
  {{ end }}
  {{ partial "pagination.html" . }}
</div>
{{ end }}
